/* filename: main.less */

/*#############################################################
Website: Community Zero
Date: 07-15-2013
Description: CSS Layout
Author: Ross Arena
#############################################################*/

@import 'mixins.less';


/*---------------------------------------------------*/
/* Begin HTML tags */
/*---------------------------------------------------*/

a {
  color: #C11B17;
  text-decoration: none;
}

a:hover {
  color: #C11B17;
  cursor: pointer;
  text-decoration: underline;
}

a:focus, a:active {
  outline: none;
  background: none;
  color: #C11B17;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em; /* 13px, 0.9em */
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: black;
}

p {
  padding-bottom: 5px;
}


i {
  font-style: italic;
}

li {
  list-style-type: disc;
  margin: 0px;
  margin-left: 35px;
}

form, br {
  clear: left;
  margin: 0;
  padding: 0;
}

hr {
  color: gray;
  width: 80%;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa;
}

[disabled] {
  color: #555555;
  background-color: #BBBBBB;
  border-color: #BBBBBB;
}

label {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #534E4D;
  padding-right: 5px;
  margin-bottom: 4px;
}

label.register_label {
  font-weight: bold;
  float: left;
  font-size: 11px;
  width: 80px;
  text-align: right;
  padding-right: 5px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  padding: 6px;
  margin-bottom: 20px;
}

input[type="file"] {
  border: 1px solid #CCC;
  padding: 5px;
}

textarea {
  cursor: auto;
  overflow: auto;
  white-space: pre-wrap;
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  padding: 2px;
}

textarea:hover, textarea:active, textarea:focus {
  border: 1px solid #ccc;
}
/*
button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), 
  color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:16px;
  font-weight:bold;
  padding:4px 24px;
  text-decoration:none;
  text-shadow:1px 2px 0px #810e05;
}

button:hover, button:focus {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}

button:active {
  position:relative;
  top:1px;
}
*/

ol {
  list-style-type: decimal;
}
ol li {
  margin-input[type="submit"], input[type="button"], button, .button {
  .button();
}
left: 20px;
  list-style-type: decimal;
}
/*---------------------------------------------------*/
/* End HTML tags */
/*---------------------------------------------------*/

#admin-panel-wrapper {
  width: 1020px;
  position: relative;
  margin: 0px auto;
}

#header-wrapper {
  margin-top: 4px;
  width: 1020px;
  position: relative;
  margin: 0px auto;
}

#wrapper {
  width: 1020px;
  min-height: 420px;
  position: relative;
  margin: 0px auto;
}

.block-wrapper {
  width: 1020px;
  position: relative;
  margin: 0px auto;
}

ul li.article-item:last-child {
  border-bottom: none !important;
}

ul li.article-item {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #B9B9B9;
  margin: 0px;
}

ul li.category-preview {
  list-style-type: none;
  margin: 0px;
  border-bottom: 5px solid #EEE;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

ul li.category-preview:last-child {
  border-bottom: none;
}

.no-underline {
  text-decoration: none;
}

.width-100 {
  width: 100%;
  .border-box();
}

#mailing-list-container {
  border: 1px solid #ccc;
  padding: 15px;
  .border-radius(5px);
}

#search-button {
  background: url("../img/search.png") no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border: none;
}

ul.panel-list li {
  list-style-type: none;
  float: left;
  display: inline;
  padding: 0 7px;
  margin: 0;
  color: #FFF;
  border-right: 1px solid #666; 
}


ul.panel-list li:last-child {
  list-style-type: none;
  float: left;
  display: inline;
  padding: 0 7px;
  margin: 0;
  color: #FFF;
  border-right: none; 
}

.lb-bottom {
  margin-bottom: 3px;
}

.lb {
  border-bottom: 1px solid #B9B9B9;
}

.lb-dotted {
  border-bottom: 1px dotted #B9B9B9;
  margin-bottom: 10px;
}

ul.no-list li {
  list-style: none;
}

ul.no-list li:last-child {
  border-bottom: none;
}

.article-social-options {
  background-color: #efefef;
  padding: 5px;
  height: 20px;
}

.width-300 {
  width: 500px;
  margin-bottom: 10px;
}

.login-box {
  background: #FFFFFF;
  border: 10px solid #797979;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 558px;
  height: 300px;
}

.login-box label {
  color: black;
  text-align: left;
  width:50px;
  font-weight: bold;
  text-align: right;
  padding-right: 50px;
}

.hide {
  display: none;
}

.center {
  position: relative; 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  padding: 20px;
  text-align: left;
}

.break-word {
  word-wrap:break-word;
}

.headline-thumb {
  width: 158px !important;
  height: 107px !important;
}

.headline-medium {
  height: 250px !important;
}

.splash-category-thumb {
  width: 225px;
  height: 165px;
}

.text-glow {
  text-shadow: #EEEE00 0 0 10px;
  text-decoration: underline;
}

li.side-headline-article {
  border-bottom: 1px dotted #888;
  padding-bottom: 10px;
  list-style-type: none;
  margin: 0;
}

ul li.side-headline-article:last-child {
  border-bottom: none;
}

.searchbox {
  border: 1px solid silver;
  width: 230px;
}

#searchwrapper {
  width: 300px;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.searchbox-submit {
  position: absolute;
  right: 29px;
  width: 28px;
  background-color: #c11b17;
  top: 1px;  
}

.input-container {
  border: 1px solid silver;
  background: #f9f9f9;
  padding: 0;
  width: 270px;
}

.input-container #search-field, .input-container #search-field input:hover, .input-container #search-field input:active {
  border: none;
  width: 229px !important;
  margin: 0;
}

.breaking-news {
  float: left;
  width: 100%;
  border: 1px solid #CCC;
  margin-bottom: 10px;
}

.breaking-news-left {
  background-color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: #FFF;
  float: left; 
}

#login-options a {
  color: #000;  
}

#news-message {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: #444;
  float: left; 
}

#searchsubmit {
  background-color: #fff;
  background: url('../img/search.png') no-repeat;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  top: 2px;
  right: -2px;
  float: right;
  border: none;
  position: absolute;
  z-index: 900;
}

/* background: #909eab */

#menuh-container {
  float: left;
  width: 100%;
  height: 38px;
  border-bottom: 4px solid red;
  background: #111; /* rgb(28,15,15) */
}

#menuh {
  float: left;
  margin: 0 auto;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  position: relative;
}
  
#menuh a {
  text-align: center;
  display:block;
  font-weight: bold;
  white-space:nowrap;
  text-decoration: none;
  margin:0;
  padding: 0.3em;
}

#menuh a:link, #menuh a:visited, #menuh a:active  /* menu at rest */ {
  text-decoration:none;
}
  
#menuh a:hover /* menu on mouse-over  */ {
  color: #000;
  text-decoration:none;
} 

#menuh ul li a {
  color: #f5f5f5;
}

#menuh ul li ul li a {
  color: #000;
  background-color: #f5f5f5;  /* milk white */
}

#menuh a.top_parent  /* attaches down-arrow to all top-parents */ {
  border-left: 1px solid #8d8d8d;
  padding: 10px;
}

#menuh a.top_parent:hover  {
  background-color: #f5f5f5;
  border-top: 1px solid #000;
  height: 16px;
  /*background-image: url(../img/navdown_black.png);
  background-position: right center;
  background-repeat: no-repeat;*/
}

#menuh > ul li a.top_parent {
  /*background-image: url(../img/navdown_white.gif);
  background-position: right center;
  background-repeat: no-repeat;*/
}

#menuh ul li ul li a:hover ~ ul li a.top_parent {
  background-image: url(../img/navdown_black.png);
  background-position: right center;
  background-repeat: no-repeat;
}

#menuh ul:last-child li a.top_parent {
  border-right: 1px solid #8d8d8d;
}

#menuh li ul li:hover {
  color: #fff;
  background-image: url(../img/navdown_black.png) !important;
  background-position: right center;
  background-repeat: no-repeat;

}
/*
#menuh ul li:hover a  {color: black !important; border-bottom: 1px dashed #C1D9F0 !important;   }
#menuh ul li:hover li a {color: #505050 !important;}
#menuh ul li:hover li a:hover   {color:  #297BB6 !important;  }
*/
#menuh a.parent, #menuh a.parent:hover  /* attaches side-arrow to all parents */ {
  background-color: #f5f5f5;
  color: #000;
  background-image: url(../img/navright-black.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

#menuh ul {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  width:9em;  /* width of all menu boxes */
  /* NOTE: For adjustable menu boxes you can comment out the above width rule.
  However, you will have to add padding in the "#menh a" rule so that the menu boxes
  will have space on either side of the text -- try it */
  }

#menuh li {
  list-style:none;
  position:relative;
  margin: 0px !important;
  min-height: 1px;    /* Sophie Dennis contribution for IE7 */
  vertical-align: bottom;   /* Sophie Dennis contribution for IE7 */
}

#menuh ul ul {
  position:absolute;
  z-index:500;
  min-width: 150px;
  top:auto;
  display:none;
  padding: 1em;
  margin:-1em 0 0 -1em;
}

#menuh ul ul ul {
  top:0;
  left:100%;
}

#menuh ul ul li {
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
}

#menuh ul ul li:last-child{
  border-bottom: 1px solid #666666;
}

div#menuh li:hover {
  cursor:pointer;
  z-index:100;
}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none; }

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */

.text-red {
  color: red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bold-text {
  font-weight: bold;
}

.right {
  position: relative;
  right: 0px;
}

.justify {
  text-align: justify;
}

.center {
  position: relative; 
  display: block;
  text-align: center;
  margin: auto 0;
}

.space_10 {
  padding: 10px;
}
.space_20 {
  padding: 20px;
}
.space_30 {
  padding: 30px;
}
.space_40 {
  padding: 40px;
}

.full-article {
  font-size: 14px !important;
  line-height: 1.6 !important;
}

.full-article p {
  margin: 0 0 10px 0;
  padding: 0;
}

.single_comment_entity {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #B9B9B9;
}

.single_comment_entity:last-child {

  border-bottom: none;
}

.single_container {
  text-align: center;
  margin-bottom: 4px;
  border: 1px solid #B9B9B9;
}

.image-container {
  margin-right: 10px;
}

.author-desc {
  font-size: 11px;
  color: gray;
}

/* table css */
.table {
  display: table;
}
/*
.row  {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 5px;
}
*/
.all-borders { border: 1px solid gray; }
.border-top { border-top: 1px solid gray; }
.border-bottom { border-bottom: 1px solid gray; }
.border-left { border-left: 1px solid gray; }
.border-right { border-right: 1px solid gray; }


.comment_profile_img {
  width: 32px;
  height: 32px;
}

.warning-box {
  padding: 5px;
  margin-bottom: 5px;
  border-style: solid;
  font-size: 0.9em;
  border-width: 1px;
  border-color: #FDD017;
  background-color: #FAF8CC;
  color: #000000;
}

.all-posts {
  position: relative;
  background: #fff;
  z-index: 10;
}

.login-dropdown {
  display: none;  
  background-color: #fff;
  
}

.post-box {
  width:428px; 
  resize: none; 
  float: left; 
  position: relative;
  z-index: 10; 
  margin-top: -1px;
}

ul.no-list {
  margin: 0;
  padding: 0;
}

ul.no-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-position {
  position: relative;
  float: left;
  width: 100%;
}

#post-box-bottom {
  display: none;
  clear: both;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: beige;
}

#post-box-news-bottom {
  display: none;
  margin-top: -5px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: beige;
}

.resizable-textarea  {
  display:block;
  margin-bottom:0pt;
  max-width:99%;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('../img/dim.png');
  display: none;
  text-align: left;
}

.close {
  position:absolute;
  top: -10px;
  right: -10px;
  z-index: 999;
  cursor:pointer;
}

.popbox{
  position: fixed;
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  height: 200px;
  z-index: 999;
  border: 5px solid #222;
  background: white;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

.h-break {
  font: 14px verdana;
  font-weight: normal;
  text-align: left;
  padding: 5px;
  color: #FFFFFF;
  position: relative;
  background-color: #666666;
  height: 15px;
}

.ast {
  color: red;
  font-size: 20px;
}
.col {
  text-align: left;
}
.captcha {
  background-color: #122061;
  width: 250px;
  padding: 15px;
}

a.category-title {
  color: #666;
}
a.category-title:hover {
  color: #666;
}

.register_container {
  position: relative;
  z-index: 900;
  width: auto;
}

.arrow-up {
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
}

/* footer */
#footer {
  background-color: #0d0d0d;
  color: #fff;
  position: relative;
  text-align: left;
  margin: 0px auto;
}

#footer-inner-top {
  background-color: #333333; //#2c2c2c;
  padding: 10px;
}

#footer-inner-bottom {
  padding-top: 10px;
}

#footer a.white-text {
  color: #fff;
}

#footer a:hover {
  text-decoration: underline;
}

#inside-footer {
  text-align: left;
  margin: 0px auto;
}

.active {
  display: block;
}

#signin-buttons-container {
  position: absolute;
  z-index: 900;
  background: #fff;
  float: left;
  top: 20px;
  left: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  display: none;  
}

.success-box {
  padding: 5px;
  font-size: 0.9em;
  border-style: solid;
  border-width: 1px;
  border-color: #338800;
  background-color: #c7f7be;
  color: #000000;
}

.error-box {
  padding: 5px;
  margin-bottom: 5px;
  border-style: solid;
  font-size: 0.9em;
  border-width: 1px;
  border-color: #FF2200;
  background-color: #FFDDBB;
  color: #000000;
}

.required {
  color: red;
}

.warning-sign {
  height: 30px;
  background: url('../img/warning-sign.jpg') no-repeat;
}

.img-outer-container {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 2px;
  background-color: #fff;
}
.img-inner-container {
  position: relative;
  background-color: #ddd;
  width: 196px;
  height: 196px;
}
.desc-text {
  font-size: 11px;
  color: #888;
}

.float-left {
  float: left;
}

.space-5 {
  padding:5px;
}

.box {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.inner {
  padding: 10px;  
}

.lb-border {
  border-bottom: 1px solid #ccc;
}

.uppercase {
  text-transform:uppercase;
}

.create-button-container {
  position: relative;
  float: right;
  right: 20px;
}

.no-margin {
  margin: 0px !important;
}

.group {
  position: relative;
  border: 1px solid #CCC;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px; /* future proofing */
  background-color: #fff;
}

.group::before,
.group::after {
    content:"";
}

.group::after {
    clear:both;
}

.input-item {
  margin-bottom: 8px;
}

.input-item:last-child {
  margin-bottom: 3px;
}

.center-text {
  text-align: center;
}

/*******************/
/***** Buttons *****/ 

.button (@bgColorNormal: #4479BA, @bgColorHover: #356094, @bgColorActive: #2E5481, 
@borderColorNormal: #20538D, @borderColorHover: #2A4E77, @borderColorActive: #203E, @fontColor: #FFF) {
  padding: 5px 18px;
  background: @bgColorNormal;
  font-weight: bold;
  color: @fontColor;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px @borderColorNormal;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
  &:hover {
    background: @bgColorHover;
    color: @fontColor;
    border: solid 1px @borderColorHover;
    text-decoration: none;
  }
  
  &:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: @bgColorActive;
    border: solid 1px @borderColorActive;
    color: @fontColor;
  }
}


input[type="submit"], input[type="button"], button, .button {
  .button(#f24537, #CF0000, #BF0000, #CF0000, #BF0000, #BF0000);
}


/*
.button {
  border: 1px solid #AAA;
  font-family: Arial;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.button:hover {
  text-decoration: none;
}
*/
.create { 
  color: #fff;
  background: #00c44e; /* Old browsers */
  background: -moz-linear-gradient(top,  #00c44e 0%, #1cbc34 27%, #14893d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c44e), color-stop(27%,#1cbc34), color-stop(100%,#14893d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c44e', endColorstr='#14893d',GradientType=0 ); /* IE6-9 */
}

.create:hover {
  color: #fff;
  background: #14893d; /* Old browsers */
  background: -moz-linear-gradient(top,  #14893d 0%, #1cbc34 73%, #00c44e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14893d), color-stop(73%,#1cbc34), color-stop(100%,#00c44e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14893d', endColorstr='#00c44e',GradientType=0 ); /* IE6-9 */
}

.edit {
  color: #122061;
  background: #daa520; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff3cc 0%, #fff3cc 11%, #daa520 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3cc), color-stop(11%,#fff3cc), color-stop(100%,#daa520)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fff3cc 0%,#fff3cc 11%,#daa520 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fff3cc 0%,#fff3cc 11%,#daa520 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fff3cc 0%,#fff3cc 11%,#daa520 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fff3cc 0%,#fff3cc 11%,#daa520 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3cc', endColorstr='#daa520',GradientType=0 ); /* IE6-9 */
}

.edit:hover {
  color: #122061;
  background: #daa520; /* Old browsers */
  background: -moz-linear-gradient(top,  #daa520 0%, #fff3cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daa520), color-stop(100%,#fff3cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #daa520 0%,#fff3cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #daa520 0%,#fff3cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #daa520 0%,#fff3cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #daa520 0%,#fff3cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daa520', endColorstr='#fff3cc',GradientType=0 ); /* IE6-9 */
}

.delete {
  color: #fff;
  background: #ff0000; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff0000 2%, #ff0000 20%, #af1a1a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ff0000), color-stop(20%,#ff0000), color-stop(100%,#af1a1a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff0000 2%,#ff0000 20%,#af1a1a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff0000 2%,#ff0000 20%,#af1a1a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff0000 2%,#ff0000 20%,#af1a1a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff0000 2%,#ff0000 20%,#af1a1a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#af1a1a',GradientType=0 ); /* IE6-9 */

}

.delete:hover {
  color: #fff;
  background: #af1a1a; /* Old browsers */
  background: -moz-linear-gradient(top,  #af1a1a 0%, #ff0000 80%, #ff0000 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af1a1a), color-stop(80%,#ff0000), color-stop(98%,#ff0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #af1a1a 0%,#ff0000 80%,#ff0000 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #af1a1a 0%,#ff0000 80%,#ff0000 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #af1a1a 0%,#ff0000 80%,#ff0000 98%); /* IE10+ */
  background: linear-gradient(to bottom,  #af1a1a 0%,#ff0000 80%,#ff0000 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af1a1a', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}

.float-right {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Hycus Textarea resize */

div.grippie {
  background:#EEEEEE url(../img/plugins/hycus/grippie.png) no-repeat scroll center 2px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
}

textarea.hycus-resize {
  display:block;
  margin-bottom:0pt;
  resize: none;
  width:99%;
  max-width:99%;
  min-width:99%;
  min-height: 300px;
}

.admin-top-panel {
  position: relative;
  background: #ff0509; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff0509 0%, #c60307 45%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0509), color-stop(45%,#c60307), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff0509 0%,#c60307 45%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff0509 0%,#c60307 45%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff0509 0%,#c60307 45%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff0509 0%,#c60307 45%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0509', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  color: #fff;
  font-weight: bold;
  height: 35px;
  width: 100%;
}

#register-form input{
  font-size: 18px;
  padding: 8px 10px;
}

#register-form input[type="text"]:required:invalid , input[type="email"]:required:invalid , 
input[type="url"]:required:invalid , input[type="number"]:required:invalid {
  background-image: none;
}

#register-form label {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: #534E4D;
  padding-right: 5px;
  margin-bottom: 4px;
}

#signup {
  width: 150px;
  color: #fff;
  background: #00c44e; /* Old browsers */
  background: -moz-linear-gradient(top,  #00c44e 0%, #1cbc34 27%, #14893d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c44e), color-stop(27%,#1cbc34), color-stop(100%,#14893d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c44e', endColorstr='#14893d',GradientType=0 ); /* IE6-9 */
}

#signup:hover {
  color: #fff;
  background: #14893d; /* Old browsers */
  background: -moz-linear-gradient(top,  #14893d 0%, #1cbc34 73%, #00c44e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14893d), color-stop(73%,#1cbc34), color-stop(100%,#00c44e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14893d', endColorstr='#00c44e',GradientType=0 ); /* IE6-9 */
}


.admin-top-panel a {
  color: #fff;
}

#admin-bar *{height:auto;width:auto;margin:0;padding:0;position:static;text-transform:none;letter-spacing:normal;line-height:1;font:normal 13px/28px sans-serif;color:#ccc;text-shadow:#444 0 -1px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
#admin-bar ul li:before,#admin-bar ul li:after{content:normal}#admin-bar a,#admin-bar a:hover,#admin-bar a img,#admin-bar a img:hover{outline:0;border:0;text-decoration:none;background:0}#admin-bar a:focus,#admin-bar a:active,#admin-bar input[type="text"],#admin-bar input[type="password"],#admin-bar input[type="number"],#admin-bar input[type="search"],#admin-bar input[type="email"],#admin-bar input[type="url"],#admin-bar select,#admin-bar textarea,#admin-bar div{outline:0}#admin-bar{direction:ltr;color:#ccc;font:normal 13px/28px sans-serif;height:28px;position:fixed;top:0;left:0;width:100%;min-width:600px;z-index:99999;background:#464646;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#373737),color-stop(18%,#464646));background-image:-webkit-linear-gradient(bottom,#373737 0,#464646 5px);background-image:-moz-linear-gradient(bottom,#373737 0,#464646 5px);background-image:-o-linear-gradient(bottom,#373737 0,#464646 5px);background-image:linear-gradient(to top,#373737 0,#464646 5px)}#admin-bar .ab-sub-wrapper,#admin-bar ul,#admin-bar ul li{background:0;clear:none;list-style:none;margin:0;padding:0;position:relative;text-indent:0;z-index:99999}#admin-bar .quicklinks{border-left:1px solid transparent}#admin-bar .quicklinks ul{text-align:left}#admin-bar li{float:left}#admin-bar .ab-empty-item{outline:0}#admin-bar .quicklinks>ul>li{border-right:1px solid #555}#admin-bar .quicklinks>ul>li>a,#admin-bar .quicklinks>ul>li>.ab-empty-item{border-right:1px solid #333}#admin-bar .quicklinks .ab-top-secondary>li{border-left:1px solid #333;border-right:0;float:right}#admin-bar .quicklinks .ab-top-secondary>li>a,#admin-bar .quicklinks .ab-top-secondary>li>.ab-empty-item{border-left:1px solid #555;border-right:0}#admin-bar .quicklinks a,#admin-bar .quicklinks .ab-empty-item,#admin-bar .shortlink-input{height:28px;display:block;padding:0 12px;margin:0}#admin-bar .menupop .ab-sub-wrapper,#admin-bar .shortlink-input{margin:0 0 0 -1px;padding:0;-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.2);box-shadow:0 4px 4px rgba(0,0,0,0.2);background:#fff;display:none;position:absolute;float:none;border-width:0 1px 1px 1px;border-style:solid;border-color:#dfdfdf}#admin-bar.ie7 .menupop .ab-sub-wrapper,#admin-bar.ie7 .shortlink-input{top:28px;left:0}#admin-bar .ab-top-menu>.menupop>.ab-sub-wrapper{min-width:100%}#admin-bar .ab-top-secondary .menupop .ab-sub-wrapper{right:0;left:auto;margin:0 -1px 0 0}#admin-bar .ab-sub-wrapper>.ab-submenu:first-child{border-top:0}#admin-bar .ab-submenu{padding:6px 0;border-top:1px solid #dfdfdf}#admin-bar .selected .shortlink-input{display:block}#admin-bar .quicklinks .menupop ul li{float:none}#admin-bar .quicklinks .menupop ul li a strong{font-weight:bold}#admin-bar .quicklinks .menupop ul li .ab-item,#admin-bar .quicklinks .menupop ul li a strong,#admin-bar .quicklinks .menupop.hover ul li .ab-item,#admin-bar.nojs .quicklinks .menupop:hover ul li .ab-item,#admin-bar .shortlink-input{line-height:26px;height:26px;text-shadow:none;white-space:nowrap;min-width:140px}#admin-bar .shortlink-input{width:200px}#admin-bar.nojs li:hover>.ab-sub-wrapper,#admin-bar li.hover>.ab-sub-wrapper{display:block}#admin-bar .menupop li:hover>.ab-sub-wrapper,#admin-bar .menupop li.hover>.ab-sub-wrapper{margin-left:100%;margin-top:-33px;border-width:1px}#admin-bar .ab-top-secondary .menupop li:hover>.ab-sub-wrapper,#admin-bar .ab-top-secondary .menupop li.hover>.ab-sub-wrapper{margin-left:0;left:inherit;right:100%}#admin-bar .ab-top-menu>li:hover>.ab-item,#admin-bar .ab-top-menu>li.hover>.ab-item,#admin-bar .ab-top-menu>li>.ab-item:focus,#admin-bar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus{color:#fafafa;background:#222;background-image:-webkit-gradient(linear,left bottom,left top,from(#3a3a3a),to(#222));background-image:-webkit-linear-gradient(bottom,#3a3a3a,#222);background-image:-moz-linear-gradient(bottom,#3a3a3a,#222);background-image:-o-linear-gradient(bottom,#3a3a3a,#222);background-image:linear-gradient(to top,#3a3a3a,#222)}#admin-bar.nojs .ab-top-menu>li.menupop:hover>.ab-item,#admin-bar .ab-top-menu>li.menupop.hover>.ab-item{background:#fff;color:#333;text-shadow:none;border-right-color:transparent;border-left-color:transparent}#admin-bar .hover .ab-label,#admin-bar.nojq .ab-item:focus .ab-label{color:#fafafa}#admin-bar .menupop.hover .ab-label{color:#333;text-shadow:none}#admin-bar .menupop li:hover,#admin-bar .menupop li.hover,#admin-bar .quicklinks .menupop .ab-item:focus,#admin-bar .quicklinks .ab-top-menu .menupop .ab-item:focus{background-color:#eaf2fa}#admin-bar .ab-submenu .ab-item{color:#333;text-shadow:none}#admin-bar .quicklinks .menupop ul li a,#admin-bar .quicklinks .menupop ul li a strong,#admin-bar .quicklinks .menupop.hover ul li a,#admin-bar.nojs .quicklinks .menupop:hover ul li a{color:#21759b}#admin-bar .menupop .menupop>.ab-item{display:block;background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:95% -20px;background-repeat:no-repeat;padding-right:2em}#admin-bar .ab-top-secondary .menupop .menupop>.ab-item{background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:5% -46px;background-repeat:no-repeat;padding-left:2em;padding-right:1em}#admin-bar .quicklinks .menupop ul.ab-sub-secondary{display:block;position:relative;right:auto;margin:0;background:#eee;-webkit-box-shadow:none;box-shadow:none}#admin-bar .quicklinks .menupop .ab-sub-secondary>li:hover,#admin-bar .quicklinks .menupop .ab-sub-secondary>li.hover,#admin-bar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus{background-color:#dfdfdf}#admin-bar .quicklinks a span#ab-updates{background:#eee;color:#333;text-shadow:none;display:inline;padding:2px 5px;font-size:10px;font-weight:bold;-webkit-border-radius:10px;border-radius:10px}#admin-bar .quicklinks a:hover span#ab-updates{background:#fff;color:#000}#admin-bar .ab-top-secondary{float:right;background:#464646;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#373737),color-stop(18%,#464646));background-image:-webkit-linear-gradient(bottom,#373737 0,#464646 5px);background-image:-moz-linear-gradient(bottom,#373737 0,#464646 5px);background-image:-o-linear-gradient(bottom,#373737 0,#464646 5px);background-image:linear-gradient(to top,#373737 0,#464646 5px)}#admin-bar ul li:last-child,#admin-bar ul li:last-child .ab-item{border-right:0;-webkit-box-shadow:none;box-shadow:none}#wp-admin-bar-my-account>ul{min-width:198px}#wp-admin-bar-my-account.with-avatar>ul{min-width:270px}#admin-bar #wp-admin-bar-user-actions>li{margin-left:16px;margin-right:16px}#admin-bar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li{margin-left:88px}#wp-admin-bar-user-actions>li>.ab-item{padding-left:8px}#admin-bar #wp-admin-bar-user-info{margin-top:6px;margin-bottom:15px;height:auto;background:0}#wp-admin-bar-user-info .avatar{position:absolute;left:-72px;top:4px;width:64px;height:64px}#admin-bar #wp-admin-bar-user-info a{background:0;height:auto}#admin-bar #wp-admin-bar-user-info span{background:0;padding:0;height:18px}#admin-bar #wp-admin-bar-user-info .display-name,#admin-bar #wp-admin-bar-user-info .username{text-shadow:none;display:block}#admin-bar #wp-admin-bar-user-info .display-name{color:#333}#admin-bar #wp-admin-bar-user-info .username{color:#999;font-size:11px}#admin-bar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img{width:16px;height:16px;border:1px solid #999;padding:0;background:#eee;line-height:24px;vertical-align:middle;margin:-3px 0 0 6px;float:none;display:inline}#admin-bar .quicklinks li .blavatar{vertical-align:middle;margin:-3px 4px 0 0;padding:0}#admin-bar .quicklinks li div.blavatar{background:url('../img/wpmini-blue.png') no-repeat;height:16px;width:16px;display:inline-block}#admin-bar #wp-admin-bar-search .ab-item{padding:0}#admin-bar #wp-admin-bar-search .ab-item{background:transparent}#admin-bar #adminbarsearch{height:28px;padding:0 2px}#admin-bar #adminbarsearch .adminbar-input{font:13px/24px sans-serif;height:24px;width:24px;border:0;padding:0 3px 0 23px;margin:0;color:#ccc;text-shadow:#444 0 -1px 0;background-color:rgba(255,255,255,0);background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:3px 2px;background-repeat:no-repeat;outline:0;cursor:pointer;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:none;box-shadow:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition-duration:400ms;-webkit-transition-property:width,background;-webkit-transition-timing-function:ease;-moz-transition-duration:400ms;-moz-transition-property:width,background;-moz-transition-timing-function:ease;-o-transition-duration:400ms;-o-transition-property:width,background;-o-transition-timing-function:ease}#admin-bar.ie7 #adminbarsearch .adminbar-input{margin-top:1px;width:120px}#admin-bar #adminbarsearch .adminbar-input:focus{color:#555;text-shadow:0 1px 0 #fff;width:200px;background-color:rgba(255,255,255,0.9);cursor:text}#admin-bar.ie8 #adminbarsearch .adminbar-input{background-color:#464646}#admin-bar.ie8 #adminbarsearch .adminbar-input:focus{background-color:#fff}#admin-bar #adminbarsearch .adminbar-input::-webkit-input-placeholder{color:#ddd}#admin-bar #adminbarsearch .adminbar-input:-moz-placeholder{color:#ddd}#admin-bar #adminbarsearch .adminbar-button{display:none}#admin-bar #wp-admin-bar-appearance{border-top:0;margin-top:-12px}#admin-bar #wp-admin-bar-appearance{border-top:0;margin-top:-12px}#admin-bar .ab-icon{position:relative;float:left;width:16px;height:16px;margin-top:6px}#admin-bar .ab-label{margin-left:4px}#wp-admin-bar-wp-logo>.ab-item .ab-icon{width:20px;height:20px;margin-top:4px;background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:0 -76px;background-repeat:no-repeat}#admin-bar.nojs #wp-admin-bar-wp-logo:hover>.ab-item .ab-icon,#admin-bar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon{background-position:0 -104px}#wp-admin-bar-updates>.ab-item .ab-icon{background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:-2px -159px;background-repeat:no-repeat}#wp-admin-bar-comments>.ab-item .ab-icon{background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:-1px -134px;background-repeat:no-repeat}#admin-bar span.count-0{display:none}#admin-bar #wp-admin-bar-new-content>.ab-item .ab-icon{background-image:url(../img/admin-bar-sprite.png?d=20120830);background-position:-2px -182px;background-repeat:no-repeat}#admin-bar.nojs #wp-admin-bar-new-content:hover>.ab-item .ab-icon,#admin-bar #wp-admin-bar-new-content.hover>.ab-item .ab-icon{background-position:-2px -203px}.no-customize-support .hide-if-no-customize,.customize-support .hide-if-customize,.no-customize-support.wp-core-ui .hide-if-no-customize,.no-customize-support .wp-core-ui .hide-if-no-customize,.customize-support.wp-core-ui .hide-if-customize,.customize-support .wp-core-ui .hide-if-customize{display:none}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){#admin-bar .menupop .menupop>.ab-item,#admin-bar .ab-top-secondary .menupop .menupop>.ab-item,#admin-bar #adminbarsearch .adminbar-input,#wp-admin-bar-wp-logo>.ab-item .ab-icon,#wp-admin-bar-updates>.ab-item .ab-icon,#wp-admin-bar-comments>.ab-item .ab-icon,#admin-bar #wp-admin-bar-new-content>.ab-item .ab-icon{background-image:url(../img/admin-bar-sprite-2x.png?d=20120830);background-size:20px 220px}#admin-bar .quicklinks li div.blavatar{background:url('../img/wpmini-blue-2x.png') no-repeat;background-size:16px 16px}}#admin-bar .screen-reader-text,#admin-bar .screen-reader-text span{position:absolute;left:-1000em;top:-1000em;height:1px;width:1px;overflow:hidden}#admin-bar .screen-reader-shortcut{position:absolute;top:-1000em}#admin-bar .screen-reader-shortcut:focus{left:6px;top:7px;height:auto;width:auto;display:block;font-size:14px;font-weight:bold;padding:15px 23px 14px;background:#f1f1f1;color:#21759b;text-shadow:none;border-radius:3px;z-index:100000;line-height:normal;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);box-shadow:0 0 2px 2px rgba(0,0,0,.6);text-decoration:none}* html #admin-bar{overflow:hidden;position:absolute}* html #admin-bar .quicklinks ul li a{float:left}* html #admin-bar .menupop a span{background-image:none}