/*------------------------------------------------------------------------------------------------------------------------

    Author: Sean Goresht
    www: https://seangoresht.com/
    github: https://github.com/srsgores

    twitter: http://twitter.com/S.Goresht

    Licensed under the GPL License
    Date: August 10, 2012

    ======================================
    File:  mixins.less
    ======================================
    This file will allows for more readable code.  Use these by placing the . operator with the selected class you would like to apply.
    Also, make sure to include this file: @include "mixins.less"

--------------------------------------------------------------------------------------------------------------------- */

@import 'variables.less';

/* =============================================================================
Site-wide rules
========================================================================== */
.pie() {
}
/* Use for IE Only
.pie() when (@pie = true) {
	background: url('/assets/fixes/PIE.htc');
}
*/
.padding-fix {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	.pie();
	.border-box;
}

.border-radius(@borderRadius: @borderRadius){
	-webkit-border-radius: @borderRadius;
	-moz-border-radius: @borderRadius;
	-khtml-border-radius: @borderRadius;
	-o-border-radius: @borderRadius;
	border-radius: @borderRadius;
	.padding-fix;
}
// Single Corner Border Radius
.border-top-left-radius(@radius: @borderRadius) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-khtml-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
	.padding-fix;
}
.border-top-right-radius(@radius: @borderRadius) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	-khtml-border-radius-topright: @radius;
	border-top-right-radius: @radius;
	.padding-fix;
}
.border-bottom-right-radius(@radius: @borderRadius) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	-khtml-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
	.padding-fix;
}
.border-bottom-left-radius(@radius: @borderRadius) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	-khtml-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
	.padding-fix;
}

// Single Side Border Radius

.border-radius-left(@radius: @borderRadius){
	.border-top-left-radius(@radius);
	.border-bottom-left-radius(@radius);
}

.border-radius-top(@radius: @borderRadius){
	.border-top-right-radius(@radius);
	.border-top-left-radius(@radius);
}

.border-radius-bottom(@radius: @borderRadius){
	.border-bottom-right-radius(@radius);
	.border-bottom-left-radius(@radius);
}

.border-radius-right(@radius: @borderRadius){
	.border-top-right-radius(@radius);
	.border-bottom-right-radius(@radius);
}

/* Border Image */
.border-image(@url, @size...) {
	-webkit-border-image: url(@url) @size;
	-moz-border-image: url(@url) @size;
	-o-border-image: url(@url) @size;
	border-image: url(@url) @size;
}

.border-image-source(@url) {
	-webkit-border-image-source: @url;
	-moz-border-image-source: @url;
	-o-border-image-source: @url;
	border-image-source: @url;
}
.border-image-slice(...) {
	-webkit-border-image-slice: @arguments;
	-moz-border-image-slice: @arguments;
	-o-border-image-slice: @arguments;
	border-image-slice: @arguments;
}
.border-image-width(...) {
	-webkit-border-image-width: @arguments;
	-moz-border-image-width: @arguments;
	-o-border-image-width: @arguments;
	border-image-width: @arguments;
}

.border-image-outset(...) {
	-webkit-border-image-outset: @arguments;
	-moz-border-image-outset: @arguments;
	-o-border-image-outset: @arguments;
	border-image-outset: @arguments;
}

.border-image-repeat(...) {
	-webkit-border-image-repeat: @arguments;
	-moz-border-image-repeat: @arguments;
	-o-border-image-repeat: @arguments;
	border-image-repeat: @arguments;
}

/* Background Origin */

.background-origin(@arguments:padding-box) {
	-webkit-background-origin: @arguments;
	-moz-background-origin: @arguments;
	background-origin: @arguments;
}

/* =============================================================================
Transitions and Transforms
========================================================================== */
.transition-all(@time:@transition-time){
	-webkit-transition: all @time linear;
	-moz-transition: all @time linear;
	-ms-transition: all @time linear;
	-o-transition: all @time linear;
	transition: all @time linear;
}

.right-icon(@icon-ascii){
	content: @icon-ascii;
	font-size: 1.2em;
	font-family: "FontAwesome";
	float: right;
}

.left-icon(@icon-ascii){
	content: @icon-ascii;
	font-size: 1.2em;
	font-family: "FontAwesome";
	float: left;
}

.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.pie();
}
// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
	&:before,
	&:after {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
		font-size: 0;
		content: " ";
	}
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// Webkit-style focus
// ------------------
.tab-focus(){ // Default
	outline: thin dotted fade(@textColour, 40%); // Webkit
	outline: @paddingMini auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
.center-block(){
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// IE7 inline-block
// ----------------
.ie7-inline-block(){
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
	stop: being-broken;
}

.inline-block(@alignment: auto) {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: @alignment;
	.ie7-inline-block();
}
// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
.ie7-restore-left-whitespace(){
	*margin-left: .3em;

	&:first-child {
		*margin-left: 0;
	}
}

.ie7-restore-right-whitespace(){
	*margin-right: .3em;

	&:last-child {
		*margin-left: 0;
	}
}

// Sizing shortcuts
// -------------------------
.size(@height, @width){
	width: @width;
	height: @height;
}

.square(@size){
	.size(@size, @size);
}

// Placeholder text
// -------------------------
.placeholder(@colour: fade(@textColour, 40%)){
	:-moz-placeholder {
		color: @colour;
	}
	::-webkit-input-placeholder {
		color: @colour;
	}
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Drop shadows
.box-shadow(...){
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
	.pie()
}

// Transitions
#transition {
	.transition(...){
		-webkit-transition: @arguments;
		-moz-transition: @arguments;
		-ms-transition: @arguments;
		-o-transition: @arguments;
		transition: @arguments;
	}
	.transition-property(...){
		-webkit-transition-property: @arguments;
		-moz-transition-property: @arguments;
		-ms-transition-property: @arguments;
		-o-transition-property: @arguments;
		transition-property: @arguments;
	}	
	.transition-duration(...){
		-webkit-transition-duration: @arguments;
		-moz-transition-duration: @arguments;
		-ms-transition-duration: @arguments;
		-o-transition-duration: @arguments;
		transition-duration: @arguments;
	}	
	.transition-timing-function(...){
		-webkit-transition-timing-function: @arguments;
		-moz-transition-timing-function: @arguments;
		-ms-transition-timing-function: @arguments;
		-o-transition-timing-function: @arguments;
		transition-timing-function: @arguments;
	}	
	.transition-delay(...){
		-webkit-transition-delay: @arguments;
		-moz-transition-delay: @arguments;
		-ms-transition-delay: @arguments;
		-o-transition-delay: @arguments;
		transition-delay: @arguments;
	}
}

#animation {
	.animation(...) {
		-webkit-animation: @arguments;
		-moz-animation: @arguments;
		-o-animation: @arguments;
		-ms-animation: @arguments;
		animation: @arguments;
	}

	.animation-delay(...) {
		-webkit-animation-delay: @arguments;
		-moz-animation-delay: @arguments;
		-o-animation-delay: @arguments;
		-ms-animation-delay: @arguments;
		animation-delay: @arguments;
	}

	.animation-direction(...) {
		-webkit-animation-direction: @arguments;
		-moz-animation-direction: @arguments;
		-o-animation-direction: @arguments;
		-ms-animation-direction: @arguments;
		animation-direction: @arguments;
	}

	.animation-duration(...) {
		-webkit-animation-duration: @arguments;
		-moz-animation-duration: @arguments;
		-o-animation-duration: @arguments;
		-ms-animation-duration: @arguments;
		animation-duration: @arguments;
	}

	.animation-fill-mode(...) {
		-webkit-animation-fill-mode: @arguments;
		-moz-animation-fill-mode: @arguments;
		-o-animation-fill-mode: @arguments;
		-ms-animation-fill-mode: @arguments;
		animation-fill-mode: @arguments;
	}

	.animation-fill-mode(...) {
		-webkit-animation-fill-mode: @arguments;
		-moz-animation-fill-mode: @arguments;
		-o-animation-fill-mode: @arguments;
		-ms-animation-fill-mode: @arguments;
		animation-fill-mode: @arguments;
	}

	.animation-timing-function(...) {
		-webkit-animation-timing-function: @arguments;
		-moz-animation-timing-function: @arguments;
		-o-animation-timing-function: @arguments;
		-ms-animation-timing-function: @arguments;
		animation-timing-function: @arguments;
	}

	.animation-iteration-count(...) {
		-webkit-animation-iteration-count: @arguments;
		-moz-animation-iteration-count: @arguments;
		-o-animation-iteration-count: @arguments;
		-ms-animation-iteration-count: @arguments;
		animation-iteration-count: @arguments;
	}

	.animation-name(...) {
		-webkit-animation-name: @arguments;
		-moz-animation-name: @arguments;
		-o-animation-name: @arguments;
		-ms-animation-name: @arguments;
		animation-name: @arguments;
	}

	.animation-play-state(...) {
		-webkit-animation-play-state: @arguments;
		-moz-animation-play-state: @arguments;
		-o-animation-play-state: @arguments;
		-ms-animation-play-state: @arguments;
		animation-play-state: @arguments;
	}
}

// Transformations
#transform {
	.transform-origin(...) {
		-webkit-transform-origin: @arguments;
		-moz-transform-origin: @arguments;
		-ms-transform-origin: @arguments;
		o-transform-origin: @arguments;
		transform-origin: @arguments;
	}

	.transform-style(@style:preserve-3d) {
		-webkit-transform-style: @style;
		-moz-transform-style: @style;
		-ms-transform-style: @style;
		transform-style: @style;
	}

	.translate(@x, @y){
		-webkit-transform: translate(@x, @y);
		-moz-transform: translate(@x, @y);
		-ms-transform: translate(@x, @y);
		-o-transform: translate(@x, @y);
		transform: translate(@x, @y);
	}

	.rotate(@degrees){
		-webkit-transform: rotate(@degrees);
		-moz-transform: rotate(@degrees);
		-ms-transform: rotate(@degrees);
		-o-transform: rotate(@degrees);
		transform: rotate(@degrees);
	}
	.perspective(...){
		-webkit-perspective: @arguments;
		-moz-perspective: @arguments;
		-ms-perspective: @arguments;
		-o-perspective: @arguments;
		perspective: @arguments;
	}

	.scale(@ratio){
		-webkit-transform: scale(@ratio);
		-moz-transform: scale(@ratio);
		-ms-transform: scale(@ratio);
		-o-transform: scale(@ratio);
		transform: scale(@ratio);
	}

	.skew(@x, @y){
		-webkit-transform: skew(@x, @y);
		-moz-transform: skew(@x, @y);
		-ms-transform: skew(@x, @y);
		-o-transform: skew(@x, @y);
		transform: skew(@x, @y);
	}

	.translate3d(@x, @y, @z){
		-webkit-transform: translate(@x, @y, @z);
		-moz-transform: translate(@x, @y, @z);
		-ms-transform: translate(@x, @y, @z);
		-o-transform: translate(@x, @y, @z);
		transform: translate(@x, @y, @z);
	}

	.perspective-origin(@x, @y) {
		-webkit-perspective-origin: @x @y;
		-moz-perspective-origin: @x @y;
		-ms-perspective-origin: @x @y;
		perspective-origin: @x @y;
	}
}

#filter {
	.filter(...) {
		-webkit-filter: @arguments;
		-moz-filter: @arguments;
		-ms-filter: @arguments;
		-o-filter: @arguments;
		filter: @arguments;
	}
	.grayscale(...) {
		-webkit-filter: grayscale(@arguments);
		-moz-filter: grayscale(@arguments);
		-ms-filter: grayscale(@arguments);
		-o-filter: grayscale(@arguments);
		filter: grayscale(@arguments);
	}
	.sepia(...) {
		-webkit-filter: sepia(@arguments);
		-moz-filter: sepia(@arguments);
		-ms-filter: sepia(@arguments);
		-o-filter: sepia(@arguments);
		filter: sepia(@arguments);
	}
	.saturate(...) {
		-webkit-filter: saturate(@arguments);
		-moz-filter: saturate(@arguments);
		-ms-filter: saturate(@arguments);
		-o-filter: saturate(@arguments);
		filter: saturate(@arguments);
	}
	.hue-rotation(...) {
		-webkit-filter: hue-rotate(@arguments);
		-moz-filter: hue-rotate(@arguments);
		-ms-filter: hue-rotate(@arguments);
		-o-filter: hue-rotate(@arguments);
		filter: hue-rotate(@arguments);
	}
	.invert(...) {
		-webkit-filter: invert(@arguments);
		-moz-filter: invert(@arguments);
		-ms-filter: invert(@arguments);
		-o-filter: invert(@arguments);
		filter: invert(@arguments);
	}
	.opacity(...) {
		-webkit-filter: opacity(@arguments);
		-moz-filter: opacity(@arguments);
		-ms-filter: opacity(@arguments);
		-o-filter: opacity(@arguments);
		filter: opacity(@arguments);
	}
	.brightness(...) {
		-webkit-filter: brightness(@arguments);
		-moz-filter: brightness(@arguments);
		-ms-filter: brightness(@arguments);
		-o-filter: brightness(@arguments);
		filter: brightness(@arguments);
	}
	.contrast(...) {
		-webkit-filter: contrast(@arguments);
		-moz-filter: contrast(@arguments);
		-ms-filter: contrast(@arguments);
		-o-filter: contrast(@arguments);
		filter: contrast(@arguments);
	}
	.blur(...) {
		-webkit-filter: blur(@arguments);
		-moz-filter: blur(@arguments);
		-ms-filter: blur(@arguments);
		-o-filter: blur(@arguments);
		filter: blur(@arguments);
	}
	.drop-shadow(...) {
		-webkit-filter: drop-shadow(@arguments);
		-moz-filter: drop-shadow(@arguments);
		-ms-filter: drop-shadow(@arguments);
		-o-filter: drop-shadow(@arguments);
		filter: drop-shadow(@arguments);
	}
}
// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
.backface-visibility(@visibility){
	-webkit-backface-visibility: @visibility;
	-moz-backface-visibility: @visibility;
	-ms-backface-visibility: @visibility;
	backface-visibility: @visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip){
	-webkit-background-clip: @clip;
	-moz-background-clip: @clip;
	background-clip: @clip;
}

// Background sizing
.background-size(@size){
	-webkit-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}

// Box sizing
.box-sizing(@boxmodel){
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	-ms-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

// User select
// For selecting text on the page
.user-select(@select){
	-webkit-user-select: @select;
	-moz-user-select: @select;
	-ms-user-select: @select;
	-o-user-select: @select;
	user-select: @select;
}

// Resize anything
.resizable(@direction){
	resize: @direction; // Options: horizontal, vertical, both
	overflow: auto; // Safari fix
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: @col-margin-right){
	-webkit-column-count: @columnCount;
	-moz-column-count: @columnCount;
	column-count: @columnCount;
	-webkit-column-gap: @columnGap;
	-moz-column-gap: @columnGap;
	column-gap: @columnGap;
}

// Opacity
.opacity(@opacity){
	opacity: @opacity / 100;
	filter: ~"alpha(opacity=@{opacity})";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity})";
}

// BACKGROUNDS
// --------------------------------------------------

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
	.background(@color: @white, @alpha: 1){
		background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	}
	.border(@color: @white, @alpha: 1){
		border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		.background-clip(padding-box);
	}
}

// Gradients
#gradient {
	.pie();
	.horizontal(@startColor: #555, @endColor: #333){
		background-color: @endColor;
		background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(left, @startColor, @endColor); // Le standard
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startcolorstr='%d', endcolorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down
	}
	.vertical(@startColor: #555, @endColor: #333){
		background-color: mix(@startColor, @endColor, 60%);
		background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(top, @startColor, @endColor); // The standard
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startcolorstr='%d', endcolorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
	}
	.directional(@startColor: #555, @endColor: #333, @deg: 45deg){
		background-color: @endColor;
		background-repeat: repeat-x;
		background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
		background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
	}
	.vertical-three-colours(@startColor: #00b3ee, @midColor: #7a43b6, @colourstop: 50%, @endColor: #c3325f){
		background-color: mix(@midColor, @endColor, 80%);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colourstop, @midColor), to(@endColor));
		background-image: -webkit-linear-gradient(@startColor, @midColor @colourstop, @endColor);
		background-image: -moz-linear-gradient(top, @startColor, @midColor @colourstop, @endColor);
		background-image: -ms-linear-gradient(@startColor, @midColor @colourstop, @endColor);
		background-image: -o-linear-gradient(@startColor, @midColor @colourstop, @endColor);
		background-image: linear-gradient(@startColor, @midColor @colourstop, @endColor);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startcolorstr='%d', endcolorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
	}
	.radial(@innerColor: #555, @outerColor: #333){
		background-color: @outerColor;
		background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
		background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
		background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
		background-image: -ms-radial-gradient(circle, @innerColor, @outerColor);
		background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
		background-repeat: no-repeat;
	}
	.striped(@color, @angle: -45deg){
		background-color: @color;
		background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
		background-image: -webkit-linear-gradient(@angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(@angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
		background-image: -ms-linear-gradient(@angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
		background-image: -o-linear-gradient(@angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
		background-image: linear-gradient(@angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
}

// Reset filters for IE
.reset-filter(){
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

/* =============================================================================
Fonts
========================================================================== */

#font {
	.font-face(@fontName, @fontFile) {
		src: url("@{fontFile}-webfont.eot");
		src: url("@{fontFile}-webfont.eot?#iefix") format("embedded-opentype"),
		url("@{fontFile}-webfont.woff") format("woff"),
		url("@{fontFile}-webfont.ttf") format("truetype"),
		url("@{fontFile}-webfont.svg#@{fontName}") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

.centred {
	text-align: center;
}

.appearance(@argument:none) {
	-webkit-appearance: @argument;
	-moz-appearance: @argument;
	appearance: @argument;
}
