{% extends 'ComzeroAppBundle::Layout/default-layout.html.twig' %}

{% block body -%}

{% if categoryArticles | length > 1 %}
<ul>
{% for item in categoryArticles %}
	<li class="article-item">
		<div class="clearfix">
			<div class="row">
				<div class="col_5">
					<a href="{{ url('article', {'slug': item.slug }) }}"><img src="{{ asset('img/articles/thumbs/' ~ item.thumbImage) }}" /></a>
				</div>
				<div class="col_7 break-word">
					<h2><a href="{{ url('article', {'slug': item.slug }) }}">{{ item.title }}</a></h2>
					<span class="author-desc">By <a>{{ item.author }}</a><br />{{ item.articleDate | date('D M j, Y g:ia T') }}</span><br />
					<p>{{ item.prelude }}<a href="article/{{ item.slug }}"><br /><b>Full Article</b></a></p>
				</div>
			</div>
		</div>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock body %}