{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Prelude</th>
                <td>{{ entity.prelude }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Youtubevideo</th>
                <td>{{ entity.youtubeVideo }}</td>
            </tr>
            <tr>
                <th>Bannerimage</th>
                <td>{{ entity.bannerImage }}</td>
            </tr>
            <tr>
                <th>Thumbimage</th>
                <td>{{ entity.thumbImage }}</td>
            </tr>
            <tr>
                <th>Articledate</th>
                <td>{{ entity.articleDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isheadline</th>
                <td>{{ entity.isHeadline }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('article_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
