{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Title</th>
                <th>Prelude</th>
                <th>Content</th>
                <th>Youtubevideo</th>
                <th>Bannerimage</th>
                <th>Thumbimage</th>
                <th>Articledate</th>
                <th>Isheadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.prelude }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.youtubeVideo }}</td>
                <td>{{ entity.bannerImage }}</td>
                <td>{{ entity.thumbImage }}</td>
                <td>{% if entity.articleDate %}{{ entity.articleDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isHeadline }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('article_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('article_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
