{% extends 'ComzeroAppBundle::Layout/default-layout.html.twig' %}

{% block body -%}

<script src="{{ asset('js/jquery.printPage.js') }}" type="text/javascript"></script>

<script>  
	$(document).ready(function() {
		$(".print-btn").printPage();
	});
</script>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=290420687655701";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
<div class="col_12 break-word">

<div class="full-article">
	<h1>{{ article.title }}</h1>
	{% if comments is defined %}
	<h2>{{ article.subtitle }}</h2>
	{% endif %}
	<span class="author-desc">
		By <a> {{ article.author }}</a><br /> 
		Last modified: {{  article.articleDate | date('D M j, Y g:ia T') }}<br /><br />
	</span>
	<div class="article-social-options">
		<div class="float-left" style="padding-right: 30px;"><div class="fb-like" data-send="false" data-width="71" data-show-faces="false" data-layout="button_count"
		data-font="arial" data-href="{{ url('article', {'slug': article.slug }) }}"></div></div>
	
		<div class="float-left"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></div>
		<div class="float-left"><div class="g-plusone" data-size="medium"></div></div>
		<div class="float-left"><script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/Share" data-counter="right"></script></div>
		<div class="float-left"><a href="article/printArticle/{{ article.slug }}" class="float-left print-btn">
		<img src="{{ asset('img/print.png') }}" alt="print" class="float-left" style="padding-right: 3px;" /></a></div>
		<div class="float-left"><a href="article/{{ article.slug }}" class="float-left print-btn">
		<img src="{{ asset('img/email.png') }}" alt="email" class="float-left" style="padding-right: 3px;" /></a></div>
		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div><div class="clear"></div><br />
<img src="{{ asset('img/articles/' ~ article.bannerImage) }}" style="max-height: 450px;"/><br />

	{{ article.content | raw }}
	<div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-font="arial" 
	data-href="{{ url('article', {'slug': article.slug }) }}"></div><br /></div>

<div class="lb"></div><br />
	<div id="all-comments-container">

	{% if comments is defined %}

	{% for comment in comments %}

		{% if comment.author == "Guest" %}
			<img src="{{ asset('img/guest-icon.png') }}" alt="guest" style="width:50px; height: 50px;" />
		{% else %}
			<img src="{{ asset('img/member-icon.png') }}" alt="member" style="width:50px; height: 50px;" />
		{% endif %}

		<div class="single_comment_entity">
			<div class="comment-delete relative float-right hide">
				<div class="absolute" style="right: 0px;">
					<a href="article/deleteComment/'.$comment_id.'" class="button delete">Delete</a>
				</div>
			</div><div class="clear"></div>
	
			<div style="margin-bottom: 10px;">
				<b><span style="font-size: 20px;">{{ comment.author }}</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="author-desc">On {{ comment.date }}</span>
			</div>
			<div class="float-left" style="margin-right: 15px;">
				{{ article.bannerImage }}
			</div>
			<div class="float-left word-break" style="width: 85%">
			
				{{ comment.content }}
				
			</div><div class="clear"></div>
		</div>
		
	{% endfor %}
	
{% endif %}
</div><br /><br />
	<div class="commentbox-container">
		<form enctype="multipart/form-data" method="post" action="article/addComment/<?=$article_id?>">
			<div style="float: left;">
				{% if member is defined %}
					<div class="float-left" style="margin-right: 15px;">
						<img src="{{ asset('img/member-icon.png') }}" alt="member" />
					</div>
					<div class="float-left">
						<b>{{ member }}</b><br />
						<textarea name="comment" class="commentbox" id="comment_<?=$article_id?>" rows="4" placeholder="Leave a comment..." required style="margin-top: 4px; resize: vertical; width: 500px;"></textarea>
					</div>
				
				{% else %}
				
					<b>You are signed in as a guest. Please login to use an account.</b><br /><br />
					<div class="float-left" style="margin-right: 15px;">
						<img src="{{ asset('img/guest-icon.png') }}" alt="guest" />
					</div>
					<div class="float-left">
						<b>Guest</b><br />
						<textarea name="comment" class="commentbox" id="comment_<?=$article_id?>" rows="4" placeholder="Leave a comment..." required style="margin-top: 4px; resize: vertical; width: 500px;"></textarea>
					</div>
				{% endif %}
			</div><div class="clear"></div>
			<input type="submit" value="Comment" style="position: relative; right: -475px;" />
			<div class="clear"></div><br />
		</form>
	</div>
</div>
</div>
{% endblock body %}