<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    	{% include 'header.html.twig' %}
        {% block head %}{% endblock head %}
    </head>
    <body>
    	<noscript>
		    <div class="warning-box" style="text-align: center;">
		    	<h3><b>For a better experience on Community Zero, please enable JavaScript in your browser.</b></h3>
		    </div>
		</noscript>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
		{% block layout %}{% endblock layout %}
		
		{% include 'footer.html.twig' %}
		{% block footer %}{% endblock footer %}
		
		{% block javascripts %}
        {% javascripts

        	'js/*'
        	filter='yui_js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripts %}
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>