{% block footer %}
<div class="clearfix">
	<div id="footer">
		<div id="footer-inner-top" class="clearfix">
			<div class="block-wrapper">
				<div class="float-left" style="color: #000 !important;">
					<div id="google_translate_element"></div>
					<script type="text/javascript">
						function googleTranslateElementInit() {
							new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-41763299-1'}, 'google_translate_element');
						}
					</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				</div>
				<div class="float-right">
					<div class="arrow-up float-left"></div><a class="go-top float-left white-text">Back to top</a>
				</div>
			</div>
		</div>
		<div class="block-wrapper">
			<div id="inside-footer">
				<div id="footer-inner-bottom" class="clearfix">
					<ul class="panel-list">
						<li style="padding-left: 0 !important;"><a href="{{ url('homepage') }}" class="white-text">News</a>
						<li><a href="{{ url('category', {'slug': 'current'}) }}" class="white-text">Current</a></li>
						<li><a href="{{ url('category', {'slug': 'history'}) }}" class="white-text">History</a></li>
						<li><a href="{{ url('category', {'slug': 'science'}) }}" class="white-text">Science</a></li>
						<li><a href="{{ url('category', {'slug': 'health'}) }}" class="white-text">Health</a></li>
						<li><a href="{{ url('category', {'slug': 'culture'}) }}" class="white-text">Culture</a></li>
						<li><a href="{{ url('category', {'slug': 'art'}) }}" class="white-text">Art</a></li>
						<li><a href="{{ url('category', {'slug': 'opinion'}) }}" class="white-text">Opinion</a></li>
						<li><a class="white-text">About</a></li>
						<li><a class="white-text">Site Index</a></li>
						<li><a class="white-text">Private Policy</a></li>
						<li><a class="white-text">Terms of Use</a></li>
					</ul>
					<br /><br />
					<div class="clearfix">
						<div class="float-left">
							<p>Copyright &copy; {{ "now"|date("Y") }} Community Zero. All rights reserved.<br />
						</div>
					</div><br />
					<p>Community Zero is an aspiring multimedia news agency, providing investing news, world news, business news, technology news, headline news, small business news, news alerts, video, mobile, and interactive television platforms. Community Zero journalists are subject to an Editorial Handbook which requires fair presentation and disclosure of relevant interests.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock footer %}