{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{% block title %} Community Zero{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Community Zero is an online community and independent news outlet that features reporting, commentary, and analysis on politics, culture, art, history, science and more." /> 
<meta name="keywords" content="Community Zero, community, news agency, news website, latest news" />
<meta name="google-translate-customization" content="51e44f3d2c5186d5-e35ae82d03db409c-g0c044fbb34bf0566-16"></meta>
<meta name="author" content="Ross Arena" />
<meta name="robots" content="index, follow" /> 
<meta name="googlebot" content="index, follow" /> 

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
{% block stylesheets %}
{% stylesheets 
	'css/normalize.css'
    'css/boilerplate.css'
    'css/helper.css'
    filter='yui_css, cssrewrite'
%}
   
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all" />
{% endstylesheets %}
{% stylesheets filter='yui_css, cssrewrite, less' output='css/default-compiled.css'
	'less/*'
%}
	<link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all" />
{% endstylesheets %}
{% endblock %}

<script src="{{ asset('js/vendor/jquery-1.7.1.min.js') }}"></script>

{% endblock head %}