{% extends '::base.html.twig' %}

{% block layout %}
<div id="header-wrapper">
	<div class="clearfix">
		<div class="row">
			<div class="col_6">
				<div class="float-left" style="padding-bottom: 5px;">
				<a href="{{ url('homepage') }}" style="text-decoration: none;">
				<img src="{{ asset('img/community-zero-logo.png') }}" alt="community zero logo" /></a>
				</div>
			</div>
			<div class="col_6">
				<div class="float-right" style="margin-top: 55px;">
					<div class="float-left" style="margin-top: 10px; position: relative;">
						<ul id="login-options" class="panel-list">
							<li><a href="{{ url('homepage') }}">Register</a>
							<li><a id="signin-link">Sign In</a></li>
						</ul>
						<div id="signin-buttons-container">
							<h2>Sign In</h2><hr /><br />
							<div class="fb-login-button" data-width="200">Facebook</div>
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=491493244268935";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
						</div>
						<div class="login-dropdown">
							{% include 'ComzeroAppBundle::Login/login.html.twig' %}
							{% block login %}{% endblock login %}
						</div>
					</div>
					<div class="float-right">
						<form method="get" id="searchform" action="">
							<div id="searchwrapper">
								<div class="input-container">
									<input type="text" value="" id="search-field" name="s" placeholder="Search News & Quotes" />
									<input type="image" src="{{ asset('img/search.png') }}" class="searchbox-submit" alt="search icon" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix">
	{% include 'ComzeroAppBundle::Menu/menu.html.twig' %}
</div>
<div id="wrapper">
	<br />
	<div class="clearfix">
		<div class="breaking-news">
			<a id="breaking-news-path" class="hide" href="{{ path('breaking_news')}}"></a>
			<div class="breaking-news-left">BREAKING NEWS</div>
			<div id="news-message"></div>
		</div>
	</div>
	<div class="clearfix">
		<div class="row">
			<div class="col_9">
				{% block body %}{% endblock %}
			</div>
			<div class="col_3">
				{% include 'ComzeroAppBundle::Sidebar/sidebar.html.twig' %}
				{% block sidebar %}{% endblock sidebar %}
			</div>
		</div>
	</div>
</div>
{% endblock layout %}