{% extends '::base.html.twig' %}

{% block layout %}
<div id="header-wrapper">
	<div class="row clearfix">
		<div class="col_6">
			<div class="float-left"><a href="{{ url('homepage') }}" style="text-decoration: none;"><img src="{{ asset('img/community-zero-logo.png') }}" alt="community zero logo" /></a></div>
			<div class="float-left" style="margin-top: 60px;">
				<div id="google_translate_element"></div>
				<script type="text/javascript">
					function googleTranslateElementInit() {
						new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-41763299-1'}, 'google_translate_element');
					}
				</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			</div>
		</div>
		<div class="col_6">
			<div style="margin-top: 20px;">
				{% include 'ComzeroAppBundle::Login/login.html.twig' %}
				{% block login %}{% endblock login %}
			</div>
		</div>
	</div>
</div>

{% include 'ComzeroAppBundle::Menu/menu.html.twig' %}
<div class="clear"></div>

<div id="wrapper">
	<div id="printer-content">
		<br />
		<div class="row clearfix">
			<div class="col_12">
				{% block body %}{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock layout %}
