{% block login -%}
{#
	///////////////////////////////////////////////////////////////////////////// 
	// 
	// LOGIN PAGE 
	// 
	//   Server-side: 
	//     1. Start a session
	//     2. Clear the session
	//     3. Generate a random challenge string
	//     4. Save the challenge string in the session
	//     5. Expose the challenge string to the page via a hidden input field
	//
	//  Client-side:
	//     1. When the completes the form and clicks on Login button
	//     2. Validate the form (i.e. verify that all the fields have been filled out)
	//     3. Set the hidden response field to HEX(MD5(server-generated-challenge + user-supplied-password))
	//     4. Submit the form
	////////////////////////////////////////////////////////////////////////////////// 
	
	if(!isset($_SESSION))
	{
		session_start();
	}
	srand();
	$challenge = "";
	for ($i = 0; $i < 80; $i++) {
		$challenge .= dechex(rand(0, 15));
	}
	$_SESSION['challenge'] = $challenge;
#}

<form action="{{ url('login') }}" method="post" enctype="multipart/form-data">
	<style>
		.login-table table {
			border-collapse: collapse; /* 'cellspacing' equivalent */
		}
		.login-table td {
			vertical-align: top;
			padding-right: 10px;
		}
	</style>
	<table class="login-table">
		<tr><td><label>Email</label></td><td><label>Password</label></td></tr>
		<tr>
			<td><input type="text" name="username" value="" required /></td>
			<td>
				<div class="float-left">
					<input type="password" name="password" value="" required />
				</div>
				<div class="float-left" style="margin-left: 10px;">
					<input type="hidden" name="challenge" value="" />
					<button type="submit" name="submit">Login</button>
				</div><div class="clear"></div>
			</td>
		</tr>
	</table>
	<div class="clear"></div>
</form>
{% endblock login %}