{% extends 'ComzeroAppBundle::Layout/default-layout.html.twig' %}

{% block body %}
<div class="clearfix">
	<div class="row">
		<div class="col_8">
			{% if headlineArticles | length > 1 %}	
				<div id="wowslider-container1" style="height: 250px;">
					<div class="ws_images">
						<ul>
						{% for item in headlineArticles | slice(0,3) %}
							<li>
								<a href="{{ url('article', {'slug': item.slug }) }}">
									<img src="{{ asset('img/articles/' ~ item.bannerImage) }}" alt="{{ item.title }}" 
									title="{{ item.title }}" id="wows1_{{ loop.index0 }}" class="headline-medium" />
								</a>
							</li>
						{% endfor %}
						</ul>
					</div>
					<div class="ws_thumbs">
						<div>
						{% for item in headlineArticles | slice(0,3) %}
							<a href="#" title="{{ item.title }}"><img src="{{ asset('img/articles/thumbs/' ~ item.thumbImage) }}" 
							alt="{{ item.title }}" class="headline-thumb" /></a>
						{% endfor %}
						</div>
					</div>
	
					<div class="ws_shadow"></div>
				</div>
				<link rel="stylesheet" type="text/css" href="{{ asset('css/vendor/wowslider.css') }}" />
				<script type="text/javascript" src="{{ asset('js/vendor/wowslider/wowslider.js') }}"></script>
				<script type="text/javascript" src="{{ asset('js/vendor/wowslider/wowslider-init.js') }}"></script>
			{% endif %}
		</div>
		<div class="col_4">
			<ul>
			{% for item in headlineArticles | slice(0,4) %}
				<li class="break-word side-headline-article">
					{% if(loop.index0 == 0) %}
					<h2 id="headarticle_{{ loop.index0 }}">
						<a href="{{ url('article', {'slug': item.slug }) }}">{{ item.title }}</a>
					</h2>
					{% else %}
					<h3 id="headarticle_{{ loop.index0 }}">
						<a href="{{ url('article', {'slug': item.slug }) }}">{{ item.title }}</a>
					</h3>
					{% endif %}
					<span class="author-desc">{{ item.articleDate | date('D M j, Y g:ia T') }}</span><br />
					{% if(loop.index0 == 0) %}<p>{{ item.prelude }}</p>{% endif %}
				</li>
			{% endfor %}
			</ul>
			<br />
		</div>
</div>
<ul class="feature-list">
	{% for item in topCategoryArticles %}
	<li class="category-preview">
		<div class="clearfix">
			<div class="row">
				<div class="col_4">
					<a href="{{ url('article', {'slug': item.slug }) }}"><img src="{{ asset('img/articles/thumbs/' ~ item.thumbImage) }}" class="splash-category-thumb" /></a>
				</div>
				<div class="col_8">
					<a href="{{ url('category', {'slug':  item.category | lower }) }}" class="category-title"><h4>{{ item.category | capitalize}}</h4></a><br />
					<h2><a href="{{ url('article', {'slug': item.slug }) }}">{{ item.title }}</a></h2>
					<span class="author-desc">By <a>{{ item.author }}</a></span><br />
					<p>{{ item.prelude }}</p><br /><a href="{{ url('article', {'slug': item.slug }) }}"><b>Full Article</b></a>
				</div>
			</div><br />
		</div>
	</li>
	{% endfor %}
</ul>
</div>
{% endblock body %}