{% block sidebar %}

<h2>Join Our Mailing List</h2>
<div id="mailing-list-container">
	<form action="#" method="post" enctype="multipart/form-data">
		<label>Email Address</label><br />
		<input type="email" name="mailing_list_email" class="width-100" required />
		<input type="submit" value="Subscribe" />
	</form>
</div><br />
{% if opinions is defined %}
{% if opinions|length > 0 %}
<h2>Opinions</h2>
<div class="sidebar-block">
<ul class="no-list">
{% for item in opinions %}
<li></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endif %}

{% if videos is defined %}
{% if videos|length > 0 %}
<h2>Video Feed</h2>
{% for item in videos %}
	<iframe width="100%" height="245" src="{{ item.youtubeVideo }}" frameborder="0" allowfullscreen></iframe><br /><br />
{% endfor %}
{% endif %}
{% endif %}
{% endblock sidebar %}