<div id="menuh-container">
	<div class="block-wrapper">
		<div id="menuh">
			<ul>
				<li><a href="{{ url('homepage') }}" class="top_parent{% if app.request.attributes.get('_route') == "homepage" %} current-nav-link{% endif %}">News</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'current'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "current" %} current-nav-link{% endif %}">Current</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'history'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "history" %} current-nav-link{% endif %}">History</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'science'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "science" %} current-nav-link{% endif %}">Science</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'health'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "health" %} current-nav-link{% endif %}">Health</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'culture'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "culture" %} current-nav-link{% endif %}">Culture</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'art'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "art" %} current-nav-link{% endif %}">Art</a></li>
			</ul>
			<ul>
				<li><a href="{{ url('category', {'slug': 'opinion'}) }}" class="top_parent{% if app.request.attributes.get('_route') == "opinion" %} current-nav-link{% endif %}">Opinion</a></li>
			</ul>
		</div>
	</div>
</div>